

#header

S0 -#-> S1
S1 -h-> S2
S1 -e-> S2


h1, h2{ 
        color: yellow;
        font-size: 4;
        position: absolute;
        top: 600p#x;
}

div {
    background-color:#dddddd;
    color: gray
}

h1, H2, h3, H4, h5, h6 {
    margin-top: 0;
}
